

<div class="">
    [ search bar here ]
</div>

<div class="boat_panel">
    <% @boats.limit(20).each do |boat| %>
        Boat Image:
        <%= link_to image_tag(boat.boat_attachments[0].image.thumb.url), boat %>

    <% end %>
</div>