<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        
        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Home</a>
        </span>

        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Rent Boat</a>
        </span>

        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Post Boat</a>
        </span>

        <span class="navbar-text nav navbar-nav navbar-right">
            <%= link_to "Login", new_user_session_path, class: "bg-primary text-white"%>
        </span>

         <span class="navbar-text nav navbar-nav navbar-right">
            <%= link_to "Sign Up", new_user_registration_path, class: "bg-primary text-white"%>
        </span>


    </div>
</nav>