<nav class="navbar navbar-dark bg-primary">
    <div class="container">
        
        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Home</a>
        </span>

        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Rent Boat</a>
        </span>

        <span class="navbar-text">
            <a class="bg-primary text-white"  href="#">Post Boat</a>
        </span>

        <span class="navbar-text" "float-lg-right">
            <a class="bg-primary text-white"  href="#">Create Account</a>
        </span>


    </div>
</nav>