/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bxslider
 *= require bootstrap-datepicker
 *= require commontator/application
 */

 @import "bootstrap";

 @import "slick";

ul.nav.navbar-nav > li {
  font-size: 15px;
}
.navbar-default .navbar-nav > li > a {
  color: white
}

span.my-navbar-brand {
  color: white;
  float: left;
  padding: 15px 15px;
  font-size: 20px;
  line-height: 20px;
  height: 50px;
}

.navbar {
  border-radius: 0px !important;
  border: 0px !important;
  background-color: blue;
}

.container.cont {
  max-width: 1500px !important;
}
//  .search-clear{
//     clear: left;
//  }
//  .search-state {
//      padding: 0px !important;
//  }
//  .search-city, .search-state  {
//      padding: 0 5px;
//      float: left;
//  }

//  .search-bar {
//      float: right;
//  }

h2 {
  color:  #f5f5f5;
}
.search {
  max-width: 750px;
  margin: auto;
  padding-top: 150px
}
.form-inline .form-control, .navbar-form .form-control {
  width: 200px !important;
}
.home-page {
  background: url('main-page-boat.jpg');
  width: 100%;
  background-size: cover;
  filter: opacity(80%);

  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -5000;
  resize: both;
  overflow: scroll;
  // #0062e01c
  // #3fb72342
}
