// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bx-wrapper{
  margin:0 !important;

}

.bx-wrapper, .bx-viewport, .bx-wrapper, .bxslider {height: 300px !important;}



.availableDate{
  background: #fffd30;
}

.notAvailableDate{
  background: #ff2d28;
}

.rentbutton{
  position:absolute;
  top: 500px;
  left: 300px;
}
