// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.bx-wrapper{
  margin:0 !important;
}

.rentbutton{
  position:absolute;
  top: 70px;
  left: 320px;
}