// Place all the styles related to the Boats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



//.bx-wrapper, .bx-viewport, .bx-wrapper, .bxslider {height: 300px !important;}

.bx-viewport {
  height: 250px !important;
}

.availableDate{
  background: #fffd30;
}

.notAvailableDate{
  background: #ff2d28;
}
.media-post-page {
  width: 800px;
  margin: auto;
}
video {
  width: 100%;
  height: 100%;
}

.post-page-table
td {
  border-top: none !important;
  vertical-align: middle !important;
  padding: 1px !important;
  width: 200px !important;
}
// .images-post-page, .video-post-page {
//   float: left
// }
.rentbutton{
  top: 80%;
  left: -100%;
  width: 35%;
}
//th, td {
//    padding: 15px;
//    border-spacing: 5px;
//    border-bottom:1pt solid black;
//}
.post-page-lower {
  margin-top: 25px;
}

.progress {
  max-width: 600px;
  margin:    0.2em 0 0.2em 0;
}

.progress .bar {
  height:  1.2em;
  padding-left: 0.2em;
  color:   white;
  display: none;
}
