// Place all the styles related to the boat_attachments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
tbody:before {
    content: "-";
    display: block;
    line-height: 1em;
    color: transparent;
}